<!-- <header>
  <h1>This page Feature B Component</h1>
</header>

<div class="chat-input">
  <input [formControl]="userControl" placeholder="Enter your name" />
</div>
<div class="chat-input">
  <input (keydown.enter)="onSend($event)" placeholder="Type something..." />
</div>

<div class="chat-container">
  @for (item of messages(); track $index) {
  <div class="chat-item">
    <div>Name: {{ item.sender }}</div>
    <div>Message: {{ item.message }}</div>
  </div>
  }
</div>

<router-outlet></router-outlet> -->

<ng-container *ngIf="!userControl?.value; else chatTemplate">
  <div class="chat-blank">
    <input
      type="text"
      (keydown.enter)="onEnterName($event)"
      placeholder="Enter your name"
    />
  </div>
</ng-container>
<ng-template #chatTemplate>
  <div class="chat-container">
    <div class="message-list">
      @if(messages()?.length === 0){
      <div class="message-welcome">
        <span> Welcome to talk with me application </span>
      </div>
      }

      <div
        *ngFor="let message of messages()"
        [ngClass]="{
          sent: message.sender === this.userControl.value,
          received: message.sender !== this.userControl.value
        }"
        class="message-item"
      >
        <div class="message-avatar">
          <img
            [src]="
              'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTynVaVrlGzFHaL33Qx5QVLGdNiT1bB2IgS-g&s'
            "
            alt="Avatar"
          />
        </div>
        <div class="message-content">
          <p>{{ message.message }}</p>
          <span class="timestamp">{{
            message.timestamp | date : 'shortTime'
          }}</span>
        </div>
      </div>
    </div>
    <!-- Message Input -->
    <div class="message-input">
      <input
        type="text"
        #inputRef
        placeholder="Type a message and enter"
        (keydown.enter)="onSend($event)"
      />
    </div>
  </div>
</ng-template>
