input {
  flex: 1;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #eeeeee;
  border-radius: 8px;
  margin-right: 8px;
  outline: none;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #eeeeee;
  border-radius: 8px;
  overflow: hidden;
  .message-list {
    min-height: 280px;
    height: 100%;
    flex: 1;    
    overflow-y: auto;
    padding: 16px;
    background-color: #f9f9f9;
    .message-item {
      display: flex;
      margin-bottom: 10px;
      &.sent {
        justify-content: flex-end;
        .message-content {
          background-color: #dcf8c6;
        }
      }
      &.received {
        justify-content: flex-start;
        .message-content {
          background-color: #fff;
        }
      }
      .message-avatar {
        margin-right: 10px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
      .message-content {
        max-width: 60%;
        padding: 10px 14px;
        border-radius: 10px;
        position: relative;
        word-wrap: break-word;
        p {
          margin: 0;
          font-size: 14px;
        }
        .timestamp {
          display: block;
          margin-top: 6px;
          font-size: 12px;
          color: #888;
          text-align: right;
        }
      }
    }
  }
  .message-input {
    display: flex;
    padding: 10px;
    background-color: #f1f1f1;
    border-top: 1px solid #eeeeee;

    button {
      background-color: #0078d4;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 8px 16px;
      cursor: pointer;
      i {
        font-size: 16px;
      }
      &:hover {
        background-color: #005a9e;
      }
    }
  }
}

.chat-blank {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    position: absolute;
    margin-top: 380px;
    width: 400px;
    transition: all 0.3s ease;
    height: 32px;
    &:focus {
      border: 1px solid #005a9e;
    }
  }
}

.message-welcome {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: 24px;
  }
}
