/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Parkinsans", serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}